<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeSanzy</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,400;0,600;0,800;0,900;1,100;1,400;1,500;1,600;1,800&display=swap" rel="stylesheet">

    <style>
        /* Add this CSS to style the preloader */
     .preloader {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(255, 255, 255, 0.8);
         display: none; /* Hidden by default */
         justify-content: center;
         align-items: center;
         z-index: 9999;
     }
     
     .spinner {
         border: 4px solid rgba(0, 0, 0, 0.1);
         border-left: 4px solid #3498db;
         border-radius: 50%;
         width: 40px;
         height: 40px;
         animation: spin 1s linear infinite;
     }
     
     @keyframes spin {
         0% { transform: rotate(0deg); }
         100% { transform: rotate(360deg); }
     }
     
         </style>
</head>

<body>

    <!-- navbar -->
    <section class="header">
        
        <nav class="navbar">
            
            <div id="close-navbar" class="fa fa-times"></div>
        <a href="#Home">Home</a>
         <a href="#contact">Contact</a>
         <a href="#about">About</a>
         <a href="#Projects">Projects</a>

        </nav>

        <div id="menu-btn" class="fa fa-bars"></div>

    </section>
    <!-- end of nav -->

    <!-- body section -->
    <section class="home" id="home">
        <div class="content">
            <span>Shazaniyu Gbadamosi</span>
            <h3>Flutter  App Developer </h3>
        </div>

          <a href="/images/GBADAMOSI SHAZANIYU KADIRI CV-1.pdf"  download> <button class="cv">Download CV</button></a>

        
    </section>

    <!-- end of body section --> 

      <!-- about start-->
      <section class="about" id="about">



        <h1 class="heading">About Me</h1>

        <div class="row">
            <div class="image">
               

                    <img src="/images/niyu2.jpg" alt="">
               
               
            </div>
            <div class="content">
                <p>
                    Greetings! I'm Shazaniyu Gbadamosi, a passionate FullStack Developer with a knack for crafting innovative solutions and captivating user experiences. With a blend of creativity and technical prowess, I strive to push the boundaries of what's possible in the digital realm.

                </p>
               

            </div>
        </div>
    </section>


     <!-- about end -->

  <!-- services start -->

<section class="services" id="services">
     
    <h1 class="heading">Skills</h1>

    <div class="box-container">

        <div class="box">
            <img src="/images/html logo.png" alt="">
            <div class="content">
                <h3>HTML5</h3>
            </div>
        </div>

        
        <div class="box">
            <img src="/images/css3.png" >
            <div class="content">
                <h3>CSS</h3>
            </div>
        </div>

        
        <div class="box">
            <img src="/images/mongodb.png" >
            <div class="content">
                <h3>MongoDB</h3>
            </div>
        </div>

        <div class="box">
            <img src="./images/React.png" >
            <div class="content">
                <h3>React</h3>
            </div>
        </div>

        
        <div class="box">
            <img src="./images/node logo.png" >
            <div class="content">
                <h3>NODE JS </h3>
            </div>
        </div>

        <div class="box">
            <img src="./images/tailwind.png" >
            <div class="content">
                <h3>TAILWIND </h3>
            </div>
        </div>

        <div class="box">
            <img src="./images/js-logo.webp" >
            <div class="content">
                <h3>JAVASCRIPT </h3>
            </div>
        </div>

        <div class="box">
            <img src="./images/fire.png" >
            <div class="content">
                <h3>FIREBASE </h3>
            </div>
        </div>

        <div class="box">
            <img src="./images/flutter.png" >
            <div class="content">
                <h3>FLUTTER </h3>
            </div>
        </div>

      

      
    </div>
</section>


   <!-- services end -->

  <!-- styles start -->
      
  <section class="styles" id="styles">

     <h1 class="heading">What I Do</h1>

     <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="content">
                <h3 class="title">FullStack Development</h3>
                <p>Seamlessly bridging the gap between front-end and back-end technologies, I create dynamic web applications with robust functionality and sleek interfaces. </p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="content">
                <h3 class="title">Graphics Designs And Animations</h3>
                <p>Whether you're looking to create stunning 3D animations, lifelike renders, or captivating graphic designs, I leverage on the full potential of Blender and Photoshop to turn your vision into reality. </p>
            </div>
        </div>

        
        <div class="box">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="content">
                <h3 class="title">Mobile App Development</h3>
                <p>From concept to deployment, I bring mobile app ideas to life, leveraging the latest frameworks and tools to deliver responsive, feature-rich experiences across iOS and Android platforms. </p>
            </div>
        </div>

        
      
        
        
       
     </div>

  </section>



   <!-- styles end -->


   <!-- Contacts start -->


   <section class="contact" id="Projects">

    <h1 class="heading">
        Projects
    </h1>
    <div class="box-container">
        

    

        
    <div class="box-container">
        <div class="box">
            <h3 class="title">Mobile Apps Projects</h3>
            <p style="font-size: 20px;">These are Projects i built using flutter frame works for both android and ios devices</p>
           
            <ul>
                <li><i class="fa fa-check"></i><a href="/apks/app-release-copy2.apk" download>Quickmed</a></li>
                <li><i class="fa fa-check"></i><a href="/apks/app-release-copy1.apk" download>Instagram Clone App</a></li>
                <li><i class="fa fa-check"> </i> <a href="/apks/app-release.apk"  download> Solution Districs</a> </li>
                <li><i class="fa fa-check"> </i> <a href="/apks/app-release-copy.apk"  download> Data Ease</a> </li>
                <li><i class="fa fa-check"> </i> <a href="/apks/app-debug3.apk"  download> Food  Delivery</a> </li>

                <!-- <li><i class="fa fa-check"></i><a href="https://github.com/Shazaniyu55">Fasta Moni Demo App</a></li> -->

                
            </ul>
        </div>


        <div class="box">
            <h3 class="title">Web Based Projects</h3>
            <p style="font-size: 20px;">To View my webapps projects visit my other protfolio link</p>
           
            <ul>
                <li><i class="fa fa-check"></i><a href="https://shazaniyu-porfolio.vercel.app" >Web Based Projects</a></li>
                

                
            </ul>
        </div>


        <div class="box-container">
            <div class="box">
                <h3 class="title">Figma Designs Projects</h3>
                <p style="font-size: 20px;">These are some of my figma designs Projects.</p>
                <ul>
                    <li><i class="fa fa-check"></i><a href="https://www.figma.com/proto/HIOWCcfYZnUkZW1Gm5bNHV/DataEase?node-id=0-1&node-type=canvas&t=Kvyx8H4ykZjC1ibi-0&scaling=scale-down&content-scaling=fixed&page-id=0%3A1">DataEase</a></li>
                    <li><i class="fa fa-check"></i><a href="https://www.figma.com/proto/HIOWCcfYZnUkZW1Gm5bNHV/DataEase?node-id=194-2&node-type=canvas&t=Kvyx8H4ykZjC1ibi-0&scaling=min-zoom&content-scaling=fixed&page-id=194%3A2&starting-point-node-id=194%3A122">Smart Saving</a></li>
    
                    
                </ul>
            </div>

    

        
  
   </section>


   <center>
    <h1>Live Preview Of My Mobile Apps Project</h1>

    <div class="container">
     <div class="slider-wrapper">
       <button id="prev-slide" class="slide-button fa fa-arrow-left">
      
       </button>
       <ul class="image-list">
         <img class="image-item" src="/images/26.png" alt="img-1" />
         <img class="image-item" src="/images/28.png" alt="img-2" />
         <img class="image-item" src="/images/23.png" alt="img-3" />
         <img class="image-item" src="/images/19.png" alt="img-4" />
         <img class="image-item" src="/images/25.png" alt="img-5" />
         <img class="image-item" src="/images/24.png" alt="img-10" />
         <img class="image-item" src="/images/29.png" alt="img-6" />
         <img class="image-item" src="/images/32.png" alt="img-7" />
         <img class="image-item" src="/images/31.png" alt="img-9" />
         <img class="image-item" src="/images/8.png" alt="img-10" />
         <img class="image-item" src="/images/10.png" alt="img-10" />
         <img class="image-item" src="/images/2.png" alt="img-10" />
         <img class="image-item" src="/images/15.png" alt="img-10" />
         <img class="image-item" src="/images/13.png" alt="img-10" />
         <img class="image-item" src="/images/9.png" alt="img-10" />
         <img class="image-item" src="/images/12.png" alt="img-10" />
         <img class="image-item" src="/images/6.png" alt="img-10" />
         <img class="image-item" src="/images/14.png" alt="img-10" />
         <img class="image-item" src="/images/16.png" alt="img-10" />
         <img class="image-item" src="/images/s19.png" alt="img-10" />
         <img class="image-item" src="/images/s20.png" alt="img-10" />
         <img class="image-item" src="/images/s4.png" alt="img-10" />
         <img class="image-item" src="/images/s6.png" alt="img-10" />
         <img class="image-item" src="/images/s8.png" alt="img-10" />
         <img class="image-item" src="/images/s10.png" alt="img-10" />
         <img class="image-item" src="/images/s5.png" alt="img-10" />
         <img class="image-item" src="/images/s3.png" alt="img-10" />
         <img class="image-item" src="/images/s7.png" alt="img-10" />
         <img class="image-item" src="/images/s13.png" alt="img-10" />

       </ul>
       <button id="next-slide" class="slide-button fa fa-arrow-right">
      
       </button>
     </div>
     <div class="slider-scrollbar">
       <div class="scrollbar-track">
         <div class="scrollbar-thumb"></div>
       </div>
     </div>
   </div>
   </center>

   <!-- preloader -->
   <div id="preloader" class="preloader">
    <div class="spinner"></div>
    <p>Loading...</p>
</div>

   <center>
    <h1 id="message">Contact Me</h1>
    <div class="content"id="contact">
        <div class="container">
            <form id="signUpForm">
                <label for="fname">Full Name</label>
                <input type="text" id="fname" name="name" placeholder="Your name.." required>
            
                <label for="lname">Email</label>
                <input type="email" id="lname" name="email" placeholder="Your email.." required>
            
                <label for="subject">Message</label>
                <textarea id="subject" name="message" placeholder="Write something.." style="height:200px" required></textarea>
            
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

   </center>

   




   

   <!-- Contacts end -->

   <button id="back-to-top-btn"><i class="fa fa-arrow-up"></i></button>


   <!-- footer start -->
<section class="footer">
    <div class="box-container">
        <div class="box">
           <p>Aso Mararaba Karu FCT Abuja</p>
       <div class="share">
        <!-- <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a> -->
        <a href="https://github.com/Shazaniyu55" class="fa fa-github"></a>
        <a href="https://www.linkedin.com/in/shazaniyu-gbadamosi/" class="fa fa-linkedin"></a>
        <a href="https://web.facebook.com/shazaniyu.gbadamosi.1" class="fa fa-facebook"></a>
        <a href="https://www.fiverr.com/s/BRKLzgz" class="fa fa-link"></a>
       
       </div>
        </div>

        <div class="box">
            <h3>Contact </h3>
            <p>+2349074235667</p>
            <a href="#" class="link">shazaniyu@gmail.com</a>
      
        </div>
        <div class="box">
          <h3>Localization</h3>  
          <p>Iyanya Karu <br>
        Abuja FCT, <br>
    Nigeria </p>
        </div>

    </div>

    <div class="credit">2024| all right reserved!</div>
</section>
<!-- footer end -->

<script>
    document.getElementById('signUpForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent the default form submission
                //show preloader
            document.getElementById('preloader').style.display = 'flex';

            const formData = new FormData(this);
            const data = Object.fromEntries(formData.entries());
           
            try {
                const response = await fetch('https://portfolio-lake-nine-35.vercel.app/send-email', { // Adjust URL based on your route
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                const result = await response.json();

                if (response.ok) {
                    document.getElementById('message').textContent = result.message;
                    document.getElementById('message').style.color = 'green';
                    // Optionally redirect to login page or another page
                    //window.location.href = `http://localhost:3500/api/auth/dashboard?userId=${result.user.id}`;

                } else {
                    document.getElementById('message').textContent = result.message;
                    document.getElementById('message').style.color = 'red';
                }
            } catch (error) {
              console.log(error)
                document.getElementById('message').textContent = 'An error occurred. Please try again.';
                document.getElementById('message').style.color = 'red';
            }finally{
                //hode preloader
                document.getElementById('preloader').style.display = 'none';
            }
        });
</script>

    <!-- end of footer -->
    <script src="/js/index.js"></script>
</body>
</html>